body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8893ac;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: brown
}

table{
  background-color: #aab1c1;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 10px;
}

nav{
  text-align: center;
}